.container {
  display: flex;
  justify-content: center;
}

.input {
  padding-left: 5px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 4px;
  outline: none;
  box-shadow: 5px 7px 6px 1px rgb(211 238 206 / 45%);
}

.input:valid {
  background-color: rgb(192 231 185 / 70%);
}

.input:invalid {
  background-color: rgb(252 165 165 / 70%);
}

.sentFormBtn {
  display: block;
  margin: 0 auto;
  padding: 5px 25px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background-color: rgb(6, 78, 59);
  border: none;
  cursor: pointer;
  color: white;
  font-family: serif;
  font-size: 1.2rem;
}

.sentFormBtn:disabled {
  background-color: rgba(230, 231, 229, 0.7);
  color: rgb(121, 142, 117);
}

.selectCountry {
  width: 100%;
  margin-bottom: 10px;
  padding: 2px 0px;
  border-radius: 4px;
  outline: none;
  box-shadow: 5px 7px 6px 1px rgb(211 238 206 / 45%);
}

.selectCountry:valid {
  background-color: rgb(192 231 185 / 70%);
}

.errorMessage {
  position: absolute;
  bottom: 25px;
  left: 88px;
  width: 100%;
  color: rgb(153 27 27);
  font-size: 0.75rem /* 12px */;
  line-height: 1rem /* 16px */;
}

.labelInput {
  position: relative;
}
